.yBtn{
    background: var(--primColor) !important;
    height: 50px;
    width: 100%;
    color: white !important;
}

.yBtn.secondary{
    background: var(--secColor) !important;
    color: white;
    border: 1px solid transparent;
}

.yBtn.outline{
    background: transparent !important;
    border: 1px solid var(--secColor) !important;
    color: var(--secColor) !important;
}