.inputField {
  width: 100%;
  margin-bottom: 20px;
}

/* .inputField .MuiInputLabel-root {
  transform: translate(14px, 11px) scale(1);
}

.inputField .MuiOutlinedInput-input.MuiInputBase-input {
  padding-top: 11.5px;
  padding-bottom: 11.5px;
} */
