body {
  margin: 0;
  font-family: "Readex Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primColor: #3d5e41;
  --secColor: rgb(57, 57, 57);
}

input:focus {
  outline: none;
}

.customContainer {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

/* .MuiBadge-badge{
  background: var(--primColor);
  color: white;
} */

.chkBxWrpr .MuiTypography-root {
  font-size: 13px;
  font-family: "Readex Pro";
  font-weight: normal;
}

.cursorDecoy {
  cursor: pointer;
}

.colorPrimary {
  color: var(--primColor);
}
